<div class="ui left fixed vertical menu">
  <div class="item">
    <div class="ui transparent icon input">
      <form action="/search" method="post">
        <input type="text" name="book" value="" placeholder="Book Title or Author">
            <i class="search icon"></i>
        <input type="submit">

      </form>
    </div>
  </div>
  <div class="item">
    <img class="ui mini image" src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>
</div>
