.ui.cards {
  width:80%;
  float:right;
  margin-top:40px !important;
}

.right-side {
  width:80%;
  float:right;
  margin-top:20px !important;

}

.ui.menu .item>.input input {
  font-size: 1em;
border: none !important;
line: 1px solid #eee;
border-radius: 10px;
padding-top: 0.571429em;
padding-bottom: .57142857em;
}
